a,button,input{-webkit-tap-highlight-color:transparent}button,input{-webkit-appearance:none;border-radius:0}body{margin:0;-webkit-user-select:none}body *{-webkit-user-select:none;font-family:Helvetica}body{-webkit-text-size-adjust:100%}h1{margin:0}a{text-decoration:none}ul{margin:0;padding:0;list-style:none}img{vertical-align:top}a,button,input{-webkit-tap-highlight-color:transparent}button,input{-webkit-appearance:none;border-radius:0}body{margin:0;-webkit-user-select:none}body *{-webkit-user-select:none;font-family:Helvetica}body{-webkit-text-size-adjust:100%}h1{margin:0}a{text-decoration:none}ul{margin:0;padding:0;list-style:none}img{vertical-align:top}
button{
    background: none;
    border:none;
    padding: 0;
    outline: none;
}

